.tasksDetails {
    font-size: 0.9em !important;
    font-family:Roboto, "Helvetica Neue", sans-serif;
}
.tasksTable {
    font-size: 0.9em !important;
    font-family:Roboto, "Helvetica Neue", sans-serif;
}