.card-header {
    background-color: rgb(33, 119, 232);
    color: whitesmoke;
    height: 4em;
}
.card-footer{
    background-color: rgb(33, 119, 232);
    color: whitesmoke;
    height: 4em;
}
.card-body {
    background-color: #f1faf5;
    color:rgb(0, 16, 61);
}
.detailTitle {
    font-weight: 500;
    font-size: 1.2em;
    padding: 0.5em;
}
.detailInfo {
    font-weight: 400;
    font-size: 1.1em;
    padding: 0.5em;
}